vendor/
out/
*.log
*.out
.DS_Store
*tags
*.swp
.tern-port
.idea
coverage
*.html
*.iml
.vscode
*.env
*.idea/
.temp
clients/python/venv
clients/python/poetry.lock
__pycache__
raccoon
!clients/python/raccoon_client/protos/raystack/raccoon/v1beta1/
node_modules
__debug.*

dist/
