APP_PORT: "8080"
CHECK_ORIGIN: "true"
SERVER_MAX_CONN: "30000"
READ_BUFFER_SIZE: "10240"
WRITE_BUFFER_SIZE: "10240"

LOG_LEVEL: "DEBUG"
KAFKA_CLIENT_BOOTSTRAP_SERVERS: "127.0.0.1:6668"
KAFKA_CLIENT_ACKS: "1"
KAFKA_CLIENT_RETRIES: "2"
KAFKA_CLIENT_RETRY_BACKOFF_MS: "100"
KAFKA_CLIENT_STATISTICS_INTERVAL_MS: 5000
TOPIC_FORMAT: "clickstream-%s-log"
BUFFER_CHANNEL_SIZE: "5"
WORKER_POOL_SIZE: "5"

STATSD_ADDRESS: ":8125"
STATSD_FLUSH_PERIOD_MS: "100"

INTEGTEST_HOST: "wss://raccoon-integration.gojekapi.com"
INTEGTEST_BOOTSTRAP_SERVER: "10.200.188.27:6668"
