APP_PORT: "8080"
LOG_LEVEL: "DEBUG"
KAFKA_BROKER_LIST: "127.0.0.1:6668"
KAFKA_TOPIC: "test-topic"
KAFKA_ACKS: "1"
KAFKA_RETRIES: "2"
KAFKA_RETRY_BACKOFF_MS: "100"
BUFFER_CHANNEL_SIZE: "5"
WORKER_POOL_SIZE: "5"
OUTPUT_TOPIC: "topic"
