SERVER-WEBSOCKET-PORT: "8080"
SERVER-WEBSOCKET-CHECK_ORIGIN: "true"
SERVER-WEBSOCKET-MAX_CONN: "30000"
SERVER-WEBSOCKET-READ_BUFFER_SIZE: "10240"
SERVER-WEBSOCKET-WRITE_BUFFER_SIZE: "10240"
SERVER-WEBSOKCET-USER_ID_HEADER: "x-user-id"
SERVER-WEBSOCKET-PING_INTERVAL: 30
SERVER-WEBSOCKET-PONG_WAIT_INTERVAL: 60
SERVER-WEBSOCKET-WRITE_WAIT_INTERVAL: 5
SERVER-WEBSOCKET-SERVER_SHUTDOWN_GRACE_PERIOD: 3
SERVER-WEBSOCKET-PINGER_SIZE: 1

WORKER-BUFFER-CHANNEL_SIZE: 5
WORKER-BUFFER-FLUSH_TIMEOUT: 5
WORKER-POOL-SIZE: 5
WORKER-KAFKA-DELIVERY_CHANNEL_SIZE: 100

DISTRIBUTION-EVENT_DISTRIBUTION_PUBLISHER_PATTERN: "clickstream-%s-log"

PUBLISHER-KAFKA-CLIENT-BOOTSTRAP_SERVERS: "127.0.0.1:9092" # "kafka:9092" for docker compose setup
PUBLISHER-KAFKA-CLIENT-ACKS: "1"
PUBLISHER-KAFKA-CLIENT-RETRIES: "2"
PUBLISHER-KAFKA-CLIENT-RETRY_BACKOFF_MS: "100"
PUBLISHER-KAFKA-CLIENT-STATISTICS_INTERVAL_MS: 5000
PUBLISHER-KAFKA-CLIENT-QUEUE_BUFFERING_MAX_MESSAGES: 100000
PUBLISHER-KAFKA-FLUSH_INTERVAL: 1000

METRIC-STATSD-ADDRESS: ":8125"
METRIC-STATSD-FLUSH_PERIOD_MS: 100

LOG-LEVEL: "info"
